.logo-sldr-wrap {
    position: relative;
    padding: 94px 0px 0px;
    display: inline-block;
    width: 100%; 
}
   
.logo-sldr-wrap > div {
    position: relative;
    z-index: 9;
}
       
.logo-sldr-wrap .slick-slide {
  max-width: 100%; 
}

.logo-sldr-wrap .slick-slide img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.logo-sldr-inner {
    display: inline-block;
    position: relative; 
    padding: 0 30px; 
}
   
.logo-sldr-wrap .slick-track {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo-sldr-top ,
.logo-sldr-btm {
    padding-top: 70px;
}


.logo-sldr-list {
    width: 120px !important; 
    position: relative;
    transition: all 1s ease;
}

.logo-sldr-rt .slick-slide {
    float: right;
}

.logo-sldr-header {
    max-width: 870px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 32px;
}
 
.logo-sldr-rt .wbst-sldr-list {
    padding-top: 24px;
}






/* Slick-theme */

/* Slider */
.slick-loading .slick-list {
  background: #fff url('//design-assets.hubspot.com/hubfs/Slick%20Slider/ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.eot');
  src: url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.eot') format('embedded-opentype'), url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.woff') format('woff'), url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.ttf') format('truetype'), url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.svg') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color:  #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}











/******** Responsive code starts here *******/
 
/************** ipad ***************/

@media (max-width: 1080px) {

 
}

/************** ipad nd tab ***************/

@media only screen and (min-width:768px) and (max-width: 1024px) and (orientation : portrait){

 
}

/************** iphone roatate***************/

@media (max-width: 767px) {

  .logos-inner .hs-logo-carousel__inner {
    height: 70px;
    
  }

}

/************** iphone ***************/

@media (max-width: 479px) {


}






 

/******** Mobile Styling *********/

@media (max-width: 1080px) {

  .wbst-sldr-wrap { 
      padding: 50px 0 0; 
  }
  
  .wbst-sldr-header { 
      padding: 0px 20px 30px;
  }
  
}

@media only screen and (min-width:768px) and (max-width: 1024px) and (orientation: portrait) {
  
  
}  

@media (max-width: 767px) {
    
 
}

@media (max-width: 479px) {

  .wbst-list { 
      min-height: 260px; 
      width: 220px;
  }
  
}



/******** Responsive code starts here *******/
 
/************** ipad ***************/

@media (max-width: 1080px) {

  .intg-logo {
      padding: 20px;
  }
 
  .intg-logo-wrap {
      padding: 50px 0px;
      text-align: center;
  }
  
  .home-intgr-wrap .intg-logo-wrap  {
      padding: 100px 0px 40px;
      text-align: center;
  }
  
}

/************** ipad nd tab ***************/

@media only screen and (min-width:768px) and (max-width: 1024px) and (orientation : portrait){

 
}

/************** iphone roatate***************/

@media (max-width: 767px) {

  .intg-logo-header {
      padding-bottom: 20px;
  }
  
}

/************** iphone ***************/

@media (max-width: 479px) {

  .intg-logo-wrap {
      padding: 50px 0px 10px;
      text-align: center;
  }

}

