.featr-tab-wrap {
    padding: 40px 0px 100px;
    position: relative; 
}
 
.featr-tab-top {
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 30px;
}

.featr-img-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -20px;
    padding-bottom: 100px;
}

.featr-list-item {
    width: 23%;
    background-image: url(https://www.functionly.com/hubfs/Functionly_2020/Feature_2022/border.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 20px 10px 0px;
    border-radius: 5.7px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.featr-list-otr {
    padding: 20px;
}

.featr-list-img {
    text-align: center;
    padding-bottom: 40px;
    min-height: 270px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.featr-tab-wrap .hs-tabs__item img{  
  max-width: 100%;
  height: auto;
}

.featr-tab-wrap .hs-tabs__nav {
    list-style: none;
    padding: 0; 
    position: relative;
    z-index: 99999;
}

.featr-tab-wrap .hs-tabs__nav li {
    display: inline-block;
    margin: 5px 5px 20px;
    width: 100%;
}

.featr-tab-wrap .hs-tabs__navitem {
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    font-size: 20px;
    line-height: 150%;
    border-bottom: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    position: relative;
}

.featr-tab-wrap .hs-tabs__navitem--active {
  color: #000;  
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.19);
  border-radius: 0px 0px 6px 6px;
  background-color: #fff;
}

.featr-tab-wrap .hs-tabs__navitem:before {
    content: "";
    background: transparent;
    position: absolute;
    width: 0px;
    height: 4px;
    top: -4px;
    left: 0px;
}

.featr-tab-wrap .hs-tabs__navitem--active:before {
    content: "";
    width: 100%;
    transition: all 5s ease;
    background: linear-gradient(90deg, #662D91 4.28%, #E524AB 97.7%); 
} 

.featr-tab-wrap .hs-tabs__navitem:hover {
  color: #000;   
  border-radius: 0px 0px 6px 6px;
  background-color: #f2f2f2;
}

.featr-tab-left {
    padding-left: 80px;
}

.featr-tab-wrap .hs-tabs__navitem:not(.hs-tabs__navitem--active) { 
}
 
.featr-tab-wrap .hs-tabs__navitem *{
  pointer-events: none;
}

.featr-tab-image {
    filter: drop-shadow(0px 1px 5px rgba(0,0,0,0.2));
    border-radius: 12px;
    padding: 20px;
} 

.featr-tab-wrap .hs-tabs__item {
    opacity: 0;
    padding: 0px;
    transition: all .8s ease;
    position: absolute;
    margin-bottom: 42px;
    top: 0;
}

.featr-tab-wrap .hs-tabs__item--active {
    opacity: 1;    
    position: relative;
}

.featr-tab-wrap .hs-tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.ftab-left {
    width: 45%;
    float: left;
}

.ftab-right {
    width: 55%;
    text-align: center;
}

.ftab-cta .cta_button {
    background-color: #fff;
    border-radius: 6px;
    padding: 15px 30px;
    border: 0px solid #fff;
    background: radial-gradient(127.65% 127.79% at 48.62% -14.13%, #FF8E35 0%, #F24398 100%);
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
}

.ftab-cta {
    padding-top: 70px;
}

.featr-tab-wrap .hs-tabs__navitem h4 {
    font-weight: 500 !important;
}

.featr-tab-wrap .hs-tabs__navitem p {
    margin: 0px !important;
    display: none;
}

.featr-tab-wrap .hs-tabs__navitem--active p { 
    display: block;
}


.mob-display {
  display: none !important;
}




 
.tacordn-item {
    border-bottom: 1px solid #cfcfcf;
    padding: 10px;
    margin-bottom: 20px;
}

.tacordn-title {
    padding: 10px;
    position: relative;
}

.tacordn-item.activeparent .tacordn-title {
    background-color: #f2f2f2;
    border-radius: 0 0 6px 6px;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 19%);
}
  
.tacordn-title:before {
    content: "";
    background: transparent;
    position: absolute;
    width: 0px;
    height: 4px;
    top: -4px;
    left: 0px;
}

.tacordn-item.activeparent .tacordn-title:before {
    content: "";
    width: 100%;
    transition: all 5s ease;
    background: linear-gradient(90deg, #662D91 4.28%, #E524AB 97.7%); 
} 


/******** Responsive code starts here *******/
 
/************** ipad ***************/

@media (max-width: 1080px) {
    
  .featr-tab-wrap .hs-tabs__navitem {
      padding: 8px 15px;
      font-size: 16px; 
  }
   
  .featr-tab-wrap .hs-tabs__nav li {  
  }
   
  .featr-tab-wrap {
      padding: 70px 0px; 
  }

  .featr-list-item {
      width: 46%; 
      margin: 20px 10px 0px;
  }

  .featr-img-list { 
      margin: 0px 0px; 
  }
  
  .featr-tab-left {
      padding-left: 40px;
  }

  .featr-tab-wrap .hs-tabs__navitem:before { 
      width: 240px;
  }

  
}

/************** ipad nd tab ***************/

@media only screen and (min-width:768px) and (max-width: 1024px) and (orientation : portrait){
 
  .featr-tab-wrap .hs-tabs__nav li { 
  }
   
  .featr-tab-wrap .hs-tabs__navitem {
      padding: 8px 10px;
      font-size: 14px;
  }
   
 
}

/************** iphone roatate***************/

@media (max-width: 767px) {
    
    
  .featr-list-item {
      width: 100%; 
      margin: 20px 10px 0px;
  }

  .featr-list-img {
      text-align: center;
      padding-bottom: 40px;
      padding-top: 20px;
      min-height: auto; 
  }


  .ftab-left {
      width: 100%;
      float: left;
  }

  .ftab-right {
      width: 100%;
      text-align: center;
      padding-top: 0px;
  }
  
  .featr-tab-left {
      padding-left: 0px;
  }

  .featr-img-list { 
      padding-bottom: 50px;
  }
  
  .mob-display {
    display: block !important;
  }

  .desk-display {
    display: none !important;
  }

  .ftab-cta {
      padding-top: 30px;
      text-align: center;
  }
  
  .featr-tab-image { 
      padding: 20px 0px;
  }

  
  
}

/************** iphone ***************/

@media (max-width: 479px) {
   
  
  .featr-tab-wrap .hs-tabs__navitem {
      padding: 8px 7px;
      font-size: 12px;
      line-height: 150%;
  }
  
  .featr-text-wrap {
      padding: 50px 0px;
  }
  
  .featr-text-text h2 {
      font-size: 22px;
      line-height: 125%;
  }
  
  .featr-text-text p { 
      font-size: 16px;
      line-height: 150%;
  }
   


}

.tab-custom {
  
}

@media screen and (max-width: 768px) {
  
  .tab-custom {
   display: block!important; 
  }
  
}

/**/
.featr-list-item:before ,
.feathr-list-item:before,
.featr3-list-item:before
{
    content: "";
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    position: absolute;
}

.featr-list-item:hover:before,
.feathr-list-item:hover:before,
.featr3-list-item:hover:before
{
    content: ""; 
    opacity: 1; 
}

.featr-list-text,
.feathr-list-text,
.featr3-list-text
{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 0%!important;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0s ease-in-out 0s!important;
    -moz-transition: all 0s ease-in-out 0s!important;
    transition: all 0s ease-in-out 0s!important;
    text-align: left!important;
}

.featr-list-item:hover .featr-list-text,
.feathr-list-item:hover .feathr-list-text,
.featr3-list-item:hover .featr3-list-text
{
  left: 50%;
  top: 50%;
  opacity: 1;
}

.featr-list-item:hover .featr-list-text h4,
.feathr-list-item:hover .feathr-list-text h4,
.featr3-list-item:hover .featr3-list-text h4
{
  color: #414042!important;
}
.featr-list-item:before,
.feathr-list-item:before,
.featr3-list-item:before
{
    background: rgb(250,250,250,0.8)!important;
}
.featr-list-item:hover .featr-list-img img ,
.feathr-list-item:hover .feathr-list-img img,
.featr3-list-item:hover .featr3-list-img img
{
  opacity: 0!important;
}
.featr-list-item:hover .featr-list-text,
.feathr-list-item:hover .feathr-list-text,
.featr3-list-item:hover .featr3-list-text
{
  left: 50%;
  top: 50%;
  top:auto!important;
  bottom: 5%!important;
  opacity: 1;
}
.featr-list-item .fadeIn-bottom,
.feathr-list-item .fadeIn-bottom,
.featr3-list-item .fadeIn-bottom
{
 top: 0!important;
 bottom: 0!important;
}
.featr-list-text h3,
.feathr-list-text h3,
.featr3-list-text h3
{
  font-size: 20px!important;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #414042!important;
}
.featr-list-text h4,
.feathr-list-text h4,
.featr3-list-text h4
{
  color: #414042!important;
  font-size: 19px!important;
  position: absolute;
  bottom: 0%;
  position: static!important;
  padding-right: 5%;
}
.featr-list-text h3+h4,
.feathr-list-text h3+h4,
.featr3-list-text h3+h4
{
  position: relative!important;
  top: 50px!important;
}
@media screen and (min-width: 1000px) {
  .featr-list-text h3+h4,
  .feathr-list-text h3+h4,
  .featr3-list-text h3+h4
  {
    top: 70px!important;
  }
}