.home-cta img {
    max-width: 100px !important;
    padding: 0px 10px;
}

.home-hero-wrap {
    background: linear-gradient(180deg, #25004C 46.18%, #952F8C 126.66%);
    padding: 140px 0px 420px !important;
    position: relative;
}

.home-hero-wrap:before {
    content: "";
    background-image: url(https://f.hubspotusercontent00.net/hubfs/7832858/Functionly_2020/Images/Diamond%20Grid.png);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100% !important;
    opacity: .5;
}

.home-hero-wrap .row-fluid {
    position: relative;
    z-index: 9;
}
 
.home-left {
    width: 60%;
    float: left;
    text-align: left;
    padding-right: 50px;
}

.home-right {
    width: 40%;
    float: left;
    text-align: right;
}

.home-left .title h1 {
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.home-cta .secondary-text p {
    font-size: 18px;
    line-height: 150%;
    color: #C5C5C5;
    max-width: 420px;
    padding-left: 20px;
}

.home-left .Content-Text p {
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 420px;
}

.home-cta {
    display: flex;
}

.home-left .Content-Text {
    padding-bottom: 15px;
}

.home-cta p.cta_button a {
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #26014D;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 12px 30px;
    border: 2px solid #fff;
      transition: all .7s ease;
  font-weight: 500;
}
.home-cta2 {
    padding-right: 40px; 
}
.home-cta p.cta_button a:hover { 
    color: #fff;
    background-color: transparent;  
}

.home-cta2 p.cta_button a.cta_button {
    color: #fff;
    margin-left: 20px;
    background-color: #3B1A5E; 
    border: 1px solid #652B89 !important;
    border-radius: 6px;
    padding: 14px 53px 14px 23px;
    background-image: url(https://f.hubspotusercontent00.net/hubfs/7832858/Functionly_2020/Images/play-icon.svg);
    background-position: 86% 12px;
    background-repeat: no-repeat;
}

.home-cta2 p.cta_button a.cta_button:hover { 
    background-color: #6b2d90;
}

.hright-image {
    position: relative;
}

.hright-image img {
    width: 390px !important;
}




.youtube-link{
  cursor: pointer; 
}



/******** Responsive code starts here *******/
 
/************** ipad ***************/

@media (max-width: 1080px) {

  .home-left .title h1 {
      font-size: 44px; 
  }
  
  .home-left .Content-Text p {
      font-size: 18px; 
  }
 
}

/************** ipad nd tab ***************/

@media only screen and (min-width:768px) and (max-width: 1024px) and (orientation : portrait){

 .home-hero-wrap { 
      padding: 80px 0px 320px !important; 
  }
  
  .home-left {
      width: 100%;
      float: left; 
  }
  
  .home-right {
      width: 100%;
      float: left; 
  }

  .home-cta {
      display: inline-flex;
  }
  
  .hright-image {
      position: relative;
      max-width: 340px;
      margin: 30px auto;
      float: none;
  }
  
  
  
}

/************** iphone roatate***************/

@media (max-width: 767px) {

  .home-hero-wrap { 
      padding: 70px 0px 180px !important; 
  }

  .home-left {
      width: 100%;
      float: left;
      padding-bottom: 50px;
      padding-right: 0px;
  }
  
  .home-right {
      width: 100%;
      float: left;
      display: none;
  }
.home-cta img {
    max-width: 100px !important;
    padding: 20px 10px;
    flex: 0 0 100%;
}
  .home-cta {
   display: inline-flex;
    flex-wrap: wrap;
  }
  
  .home-cta p.cta_button a {
      font-size: 14px; 
      padding: 10px 20px; 
      border: 1px solid #fff;
  }
  
  .home-cta p.cta_button a {
      font-size: 14px; 
      padding: 10px 20px; 
      border: 1px solid #fff;
  }
  
  .home-cta2 p.cta_button a.cta_button { 
      padding: 10px 43px 10px 20px; 
      background-position: 87% 12px;
      background-repeat: no-repeat;
      background-size: 15px;
      margin-left: 12px;
  }
  
  .hright-image {
      position: relative;
      width: 90%;
      margin: 0px auto;
      float: none;
  }
      
  .home-left .title h1 {
      font-size: 35px;
      line-height: 120%;
      letter-spacing: -0.02em;
  } 
  
  .home-left .Content-Text p {
      font-size: 16px;
  }
  
  
  
  
}

/************** iphone ***************/

@media (max-width: 479px) {

  
  .home-left .title h1 {
      font-size: 30px; 
      padding-bottom: 0px;
  }
  
  .home-left .Content-Text {
      padding-bottom: 0px;
  }
  
  .home-hero-wrap {
      padding: 70px 0px 90px !important;
  }

}

.home-cta img { 
  display: none;
} 
@media screen and (max-width: 767px) { 
  .home-cta img {
    display: inline-block; 
  }
}






